{{- $content := .RawContent -}}
{{- $content = replaceRE `(?s)(^|\n)\$\$\s*\n(.*?)\n\s*\$\$(\n|$)` `$1
<div class="math-display">\[$2\]</div>

$3` $content -}}
{{- $content = replaceRE `!\[\[(\./)?images/([^|\]]+\.(png|jpg|jpeg|gif|webp|svg))\s*\|\s*([^\]]+)\]\]` `![$4](<./images/$2>)` $content -}}
{{- $content = replaceRE `!\[\[(\./)?images/([^|\]]+\.(png|jpg|jpeg|gif|webp|svg))\]\]` `![](<./images/$2>)` $content -}}
{{- $content = replaceRE `!\[\[[^|\]]*/images/([^|\]]+\.(png|jpg|jpeg|gif|webp|svg))\s*\|\s*([^\]]+)\]\]` `![$3](<./images/$1>)` $content -}}
{{- $content = replaceRE `!\[\[[^|\]]*/images/([^|\]]+\.(png|jpg|jpeg|gif|webp|svg))\]\]` `![](<./images/$1>)` $content -}}
{{- $content = replaceRE `!\[\[([^\]|]+\.(png|jpg|jpeg|gif|webp|svg))\s*\|\s*([^\]]+)\]\]` `![$3](<./images/$1>)` $content -}}
{{- $content = replaceRE `!\[\[([^\]]+\.(png|jpg|jpeg|gif|webp|svg))\]\]` `![](<./images/$1>)` $content -}}
{{- $content = replaceRE `!\[\[([^\]|]+)\|([^\]]+)\]\]` `![$2](<$1>)` $content -}}
{{- $content = replaceRE `!\[\[([^\]]+)\]\]` `![](<$1>)` $content -}}
{{- .RenderString (dict "display" "block") $content -}}
