{{- $u := urls.Parse .Destination -}}
{{- $src := $u.String -}}
{{- if not $u.IsAbs -}}
  {{- $path := strings.TrimPrefix "./" $u.Path -}}
  {{- $path = urls.PathUnescape $path -}}
  {{- with or (.PageInner.Resources.Get $path) (.Page.Resources.Get $path) (resources.Get $path) -}}
    {{- $src = .RelPermalink -}}
    {{- with $u.RawQuery -}}
      {{- $src = printf "%s?%s" $src . -}}
    {{- end -}}
    {{- with $u.Fragment -}}
      {{- $src = printf "%s#%s" $src . -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- $alt := .Text -}}
{{- $sizeAttrs := dict -}}
{{- if findRE `^\d+$` .Text -}}
  {{- $sizeAttrs = dict "width" .Text -}}
  {{- $alt = "" -}}
{{- else if findRE `^\d+x\d+$` .Text -}}
  {{- $size := split .Text "x" -}}
  {{- $sizeAttrs = dict "width" (index $size 0) "height" (index $size 1) -}}
  {{- $alt = "" -}}
{{- end -}}
{{- $attributes := merge .Attributes $sizeAttrs (dict "alt" $alt "src" $src "title" (.Title | transform.HTMLEscape) "loading" "lazy") -}}
{{- $caption := .Title | default "" -}}
{{- if $caption -}}
<figure>
  <img
    {{- range $k, $v := $attributes -}}
      {{- if $v -}}
        {{- printf " %s=%q" $k $v | safeHTMLAttr -}}
      {{- end -}}
    {{- end -}}>
  <figcaption>{{ $caption }}</figcaption>
</figure>
{{- else -}}
<img
  {{- range $k, $v := $attributes -}}
    {{- if $v -}}
      {{- printf " %s=%q" $k $v | safeHTMLAttr -}}
    {{- end -}}
  {{- end -}}>
{{- end -}}
